<div class="col-md-6 offset-md-3">
    <h3> Edit Song </h3>
    <form (ngSubmit) = "onSubmit()">
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" id="title"
            [(ngModel)] = "song.title" name="title">
        </div>
    
        <div class="form-group">
            <label>Artist</label>
            <input type="text" class="form-control" id="artist"
            [(ngModel)] = "song.artist" name="artist">
        </div>
    
        <div class="form-group">
            <label>Rating</label>
            <input type="number" class="form-control" id="rating"
            [(ngModel)] = "song.rating" name="rating">
        </div>
    
        <button class="btn btn-success" type="submit">Submit</button>
    </form>
    </div>
    